img {
  height: 30%;
  width: 30%;
  border-radius: 50px;
}

body {
  background-color: grey;
  justify-content: center;
}

nav {
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

#contact-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 2rem;
}

#preview-container {
  display: flex;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4%;
}

.project p {
  margin: 5%;
}