img {
  height: 30%;
  width: 30%;
  border-radius: 50px;
}

body {
  background-color: #002500;
  justify-content: center;
  color: #EDCBB1;
}

nav {
  padding: 1rem;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #5171A5;
  margin-top: 0;
  height: 2rem;
  align-items: center;
}

#home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

#contact-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 2rem;
}

#preview-container {
  display: flex;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #EDCBB1;
}

a:hover {
  color: red;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4%;
}

.project p {
  margin: 5%;
}

.text-container {
  width: 50%;
}

.text-container p {
  text-align: center;
}

#image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

#image-container img {
  padding: 1rem;
}

#about-text {
  width: 50%;
}

#about-text p {
  line-height: 4rem;
  font-size: large;
}

#about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}