img {
  height: 30%;
  width: 30%;
  border-radius: 50px;
}

body {
  display: flex;
  background-color: grey;
  justify-content: center;
}

#home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#contact-container {
  display: flex;
  flex-direction: column;
}

#preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}